*{
    font-size:62.5%;
    margin:0;
    padding:0;
    border:none;
    text-decoration:none;
    box-sizing:border-box;
}

@media(min-width:200px){
    #content{
        width: 35rem;
        height:40rem;
    }

    h1{
        font-size:3rem;
    }

    
    #content-label input{
        width:28rem;
        height:4rem;
        font-size:1.5rem;
    }

    .texto-input{
        width:30rem;
    }

    
}

@media(min-width:800px){
    #content{
        width: 45rem;
        height:50rem;
    }

    h1{
        font-size:5rem;
    }

    
    #content-label input{
        width:38rem;
        height:5rem;
        font-size:2rem;
    }

    .texto-input{
        width:40rem;
        font-size: 2rem;
        padding:1rem
    }

    
}

@media(min-width:1200px){
    #content{
        width: 40rem;
        height:40rem;
    }

    h1{
        font-size:4rem;
    }

    #content-label input{
        width:33rem;
        height:4rem;
        font-size:2rem;

    }

    .texto-input{
        width:35rem;
    }
}

body{
    background:#514053;
    font-family: 'Poppins', sans-serif;
    font-weight:300
}

h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    color:#1d0f1f;
}

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:4rem
}

#content{
    background-color:#ecebeb;
    color:#4b374e;
    
    border-radius:2rem;

    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

}

#site-1{
    font-size: 1.5rem;
}

#content-label{
    margin-left:3rem;
    margin-top:2rem;
}

#content-label input{
    border-radius:.5rem;
    margin-bottom:2rem;
    padding:1rem
}


button{
    font-size:2rem;
    background-color:#cac9c9;
    color:#4b374e;
    width:15rem;
    height:5rem;
    position:relative;
    left:45%;
    transform:translate(-45%);
    border-radius:2rem;
    cursor:pointer;
    transition: .2s;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

}

button:hover{
    filter:brightness(0.8);
    color:#4b374e
}

#texto {
    font-size: 1.7rem;
    margin-left:2rem;
    margin-right:4rem;
    margin-top:2rem;
    margin-bottom:2rem
}

#texto-label{
    margin-top:2rem;
    font-size: 1.7rem;
    padding:2rem;
    margin-bottom:2rem
}

.texto-input{
    margin-top:2rem;
    margin-left:2rem;
    height:4rem;
    margin-bottom:3rem;
    border-radius:.5rem
}

