*{
    font-size:62.5%;
    margin:0;
    padding:0;
    border:none;
    text-decoration:none;
    box-sizing:border-box;
    text-align:justify;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url("./assets/wallpaper.png");
    background-size:cover;
    color:rgb(41, 40, 40)
}

.content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

    background:rgb(247 247 247);;
    border-radius:2rem;
    width:35rem;
    height:35rem;
    padding: 4rem;

    box-shadow: 10px 10px 5px 0px rgb(40 36 50);
    -webkit-box-shadow: 10px 10px 5px 0px rgb(40 36 50);
    -moz-box-shadow: 10px 10px 5px 0px rgb(40 36 50);
}

label{
    position:relative;
    bottom:.5rem;
    font-size:1.8rem;

}

button{
    position:relative;
    top:1.5rem;
    display:flex;
    align-items:center;
    justify-content:center;
    float:left;

    background-color:rgb(133 122 152 / 81%);
    
    width:12rem;
    height:4rem;
    border-radius:.5rem;

    margin-left:1.5rem;
    font-size: 1.2rem;
    text-align:center;
    cursor:pointer;
    
    transition: .2s
}

button:hover{
    background-color: rgb(138 92 105);
}

input{
    width:28rem;
    height:4rem;
    border-radius:.5rem;
    padding:1rem;
    font-size:1.5rem;
    background-color:#f6e5ad;;
    color:rgba(0, 0, 0, 0.856);
    content:"";
}

#imagem img{
    position:relative;
    width:10rem;
    top:3rem;
    left:15rem
}

#imagem-input img{
    position:relative;
    width:13rem;
    top:8rem;
    left:3rem
}

#imagem-final img{
    position:relative;
    width:13rem;


}


